<div class="container">
    <h1>Selamat Datang Bro!!</h1>
    <p>Tekan tombol dibawah untuk menghubungi kami</p>
    <a href="/contact" class="btn btn-primary">Kontak kami</a>
</div>

<style>
     /* Pastikan seluruh halaman menggunakan flexbox */
     body, html {
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        text-align: center; /* Agar teks dalam elemen .container berada di tengah */
    }

    h1 {
        font-size: 100px;
    }
</style>